@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  background-color: #f3f3f3;
}
.base-medium-text {
  color: #1c1b1bcc;
}
.base-text {
  color: #1c1b1b99;
}
.bold--text {
  color: #1c1b1b;
}
